<h1 class="section-title"><img class="letter" src="img/w.png"><span class="title" animate-show>hat</span> <img class="letter" src="img/i.png"> <img class="letter" src="img/m.png"><span class="title" animate-show>ake</span></h1>
<div class="container card">
    <h3 class="subsection">Welcome</h3>
    <hr>
    <p>{{ message }}</p>
    <p style="font-size: 0.5em"><em><b>Disclaimer: </b>{{ disclaimer }}</em></p>
    <button class="btn btn-outline-primary" ng-click="gotoOffer()">Get Started &rsaquo;</button>
</div>